* {
    /* css reset */
    margin: 0;
    padding: 0;
    /* the box-sizing is fixing the width bug of the #container input, that is no respecting the container size */
    box-sizing: border-box;
}

/* root refers to the html tag on html, but with higher speciliaty. We can create
variables, like in the following example:
:root {
  --main-bg-color: pink;
}

body {
  background-color: var(--main-bg-color);
} */

:root {
    font-family: sans-serif;
}

#container {
    margin-top: 6vh;
    width: 50%;
    /* margin-inline = margin-left and margin-right together */
    margin-inline: auto;
    max-width: 400px;
    max-height: 550px;
    border: 2px solid blueviolet;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 10px 5px blueviolet;
    background-image: linear-gradient(rgba(138, 43, 226, 0.8), black);
    border-radius: 5px;
}

body {
    /* background-color: black; */
    overflow: hidden;
    display: flow-root;
    height: 100vh;
    color: white;
    text-align: center;
    background: url(./images/teste.jpg);
    backdrop-filter: blur(32px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    opacity: 1;
}

#container p {
    margin-top: 15px;
    margin-bottom: 40px;
    opacity: 0.8;
}

#container input, button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

#container input {
    margin-bottom: 20px;
    transition: display 4s;
}

#container button {
    border: none;
    background-color: blueviolet;
    color: white;
    transition: filter 0.5s;
}

/* hover = pseudo-class */
#container button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#answerElement {
    margin-top: 30px;
    transition: opacity 1s;
  }
  
#answerElement div {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 10px;
  }

